/* font */
@font-face {
  font-family: Noto Sans SCEL;
  src: url(../fonts/NotoSans-SemiCondensedLight.ttf) format("truetype");
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}
_:-ms-lang(x)::-ms-backdrop, .selector {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Noto Sans SCEL;
}

/* section */
section {
  padding: 4rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/* mainNav */
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  /* font-weight: 700; */
  color: #82c1b1;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Noto Sans SCEL;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #82c1b1;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  /* font-weight: 500; */
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #82c1b1;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #82c1b1 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #82c1b1;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #82c1b1;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #82c1b1;
  }
}

/* header */
header {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  padding-top: 0px;
}

header.masthead {
  align-items: center;
  padding-top: 5rem;
  height: 100vh;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/001.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead:before{
  display:block;
  content:"";
  padding-top:41.94%;
}

header.masthead p {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Noto Sans SCEL;
}

header.masthead p {
  font-size: 3rem;
}
.logo {
  width: 40%;
}
.logo_head {
  width: 80%;
}

@media screen and (max-width: 768px) {
  header.masthead p {
    font-size: 2rem;
  }
  header.maszthead h1 {
    font-size: 4rem;
  }
  :root {
    font-size: calc(1vw + 1vh + .8vmin);
  }
  body {
    font: 1rem/1.6;
  }
  .logo {
    width: 60%;
  }
  .logo_head {
    width: 40%;
  }
}


/* service-box */
.service-box {
  max-width: 400px;
}

.text-primary {
  color: #82c1b1 !important;
}

/* btn */
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: #82c1b1 !important;
  border-color: #82c1b1 !important;
  box-shadow: none
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #82c1b1 !important;
  border-color: #82c1b1 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #82B1FF !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 193, 177, 0.5) !important;
}

/* 装飾用罫線 */
.s2 {
  display: flex;
  align-items: center;
}
.s2:before, .s2:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  border: 0; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0);
  background-image: linear-gradient(to right, #f0f0f0, #82c1b1, #f0f0f0);
  display: block;
}
.s2:before {
  margin-right: .4em;
}
.s2:after {
  margin-left: .4em;
}


/* dl dd dt */
dt {
  font-weight: 300;
}

#PRICE dl dt {
  clear: left;
  float: left;
  width: 70%;
  font-weight: 300;
}
#PRICE dl dd { 
  margin: 0 0 0 20%;
}

#AROMATHERAPY dt {
  clear: left;
  float: left;
  width: 70%;
  font-weight: 300;
}
#AROMATHERAPY dd { 
  margin: 0 0 0 20%;
}

.dl-news dt {
  clear: left;
  float: left;
  width: 50%;
  font-weight: 300;
}
.dl-news dd { 
  margin: 0 0 0 20%;
}

.dl-blog dl {
  width: 100%;
}
.dl-blog dt {

  width: 10%;
  display: inline;
  margin: 0 5 0 5%;
}

.dl-blog dd {
  width: 90%;
  display: inline;
  margin: 0 5 0 5%;
}

/* ul */
#NEWS ul {
  width: 100%;
  padding: 0;
  margin: 0 auto 80px;
  border-top: 1px solid #EEE;
  list-style: none;
}
#NEWS ul li {
  width: 100%;

  border-bottom: 1px solid #EEE;
}
#NEWS ul li .date {
  width: 100%;
  padding-left: 15px;
  padding-right: 30px;
}

/* card */
.card {
  padding: 0 0 0 0%;
}
.card-body { padding: 0 0 0 0%; }

/* link */
a {
  color: #82c1b1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #82c1b1;
}

a.normal_color{
  color: #555555
} 
a.normal_color:visited{
  color: #555555 
} 
a.normal_color:hover{
  color: #999999
} 
a.normal_color:active{
  color: #999999
} 

/* boder-color */
.boder-gray {
  border-bottom: solid 1px; 
  border-color: #555555; 
}

/* fa-color */
.fa:hover, .fa:focus, .fa:active {
  color: #82B1FF;
}

.navbar {
  box-shadow: none;
}

.lgray {
  color: #999999;
}

.dgray {
  color: #555555;
}

/* loadGIF */
#loader-bg {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#loader-bg img {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loader {
  width: 5em;
  height: 5em;
}

