html, body{
  margin: 0;
  padding:0;
  height: 100%;
}


.bg-slider {
  width: 100%;
  height: 100vh;
  background-position:center center;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead{
  align-items: center;
}

.masthead:before{
  display:block;
  content:"";
  padding-top:41.94%;
}

/* dl dd dt */
dt {
  font-weight: 300;
}

#PRICE dl dt {
  clear: left;
  float: left;
  width: 70%;
  font-weight: 300;
}
#PRICE dl dd { 
  margin: 0 0 0 20%;
}

#AROMATHERAPY dt {
  clear: left;
  float: left;
  width: 70%;
  font-weight: 300;
}
#AROMATHERAPY dd { 
  margin: 0 0 0 20%;
}

.dl-news dt {
  clear: left;
  float: left;
  width: 50%;
  font-weight: 300;
}
.dl-news dd { 
  margin: 0 0 0 20%;
}


.dl-blog dl {
  width: 100%;
}
.dl-blog dt {

  width: 10%;
  display: inline;
  margin: 0 5 0 5%;
}

.dl-blog dd {
  width: 90%;
  display: inline;
  margin: 0 5 0 5%;

}

/* ul */
#NEWS ul {
  width: 100%;
  padding: 0;
  margin: 0 auto 80px;
  border-top: 1px solid #EEE;
  list-style: none;
}
#NEWS ul li {
  width: 100%;

  border-bottom: 1px solid #EEE;
}
#NEWS ul li .date {
  width: 100%;
  padding-left: 15px;
  padding-right: 30px;
}

/* card */
.card {
  padding: 0 0 0 0%;
}
.card-body { padding: 0 0 0 0%; }

/* hr */
hr {
  /*- max-width: 50px; --*/
  border-width: 3px;
  border-color: #82c1b1;
}

hr.light {
  border-color: #fff;
}

hr.style1 { 
  width: 80% !important;
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0); 
}
hr.style2 { 
  width: 98% !important;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0);
  background-image: linear-gradient(to right, #f0f0f0, #82c1b1, #f0f0f0);
}

hr.style3 { 
  text-align: left;
  margin-left: 0px;
  width: 100% !important;
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, #82c1b1, #f0f0f0);
  background-image: -moz-linear-gradient(left, #82c1b1, #f0f0f0);
  background-image: -ms-linear-gradient(left, #82c1b1, #f0f0f0);
  background-image: -o-linear-gradient(left, #82c1b1, #f0f0f0); 
}

/* link */
a {
  color: #82c1b1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #82c1b1;
}

a.normal_color{
  color: #555555
} 
a.normal_color:visited{
  color: #555555 
} 
a.normal_color:hover{
  color: #999999
} 
a.normal_color:active{
  color: #999999
} 

/* boder-color */
.boder-gray {
  border-bottom: solid 1px; 
  border-color: #555555; 
}

/* fa-color */
.fa:hover, .fa:focus, .fa:active {
  color: #82B1FF;
}

.navbar {
  box-shadow: none;
}

.lgray {
  color: #999999;
}

.dgray {
  color: #555555;
}

.sfont {
  font-size: 0.7rem;
}

/* ‘•ü—pŒrü */
.s1 {
  display: flex;
  align-items: center;
}
.s1:before, .s1:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #444;
  display: block;
}
.s1:before {
  margin-right: .4em;
}
.s1:after {
  margin-left: .4em;
}

.s2 {
  display: flex;
  align-items: center;
}
.s2:before, .s2:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  border: 0; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #82c1b1, #f0f0f0);
  background-image: linear-gradient(to right, #f0f0f0, #82c1b1, #f0f0f0);
  display: block;
}
.s2:before {
  margin-right: .4em;
}
.s2:after {
  margin-left: .4em;
}

/* swiper */
.swiper-container{
  text-align: center;
  width: 100%; 
  height: 60vh; 
}
.swiper-container .swiper-slide img{
  max-width: 100%;
  height: auto;
}

.swiper-slide { 
  text-align: center; 
  background: #fff; 
  /* Center slide text vertically */ 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  justify-content: center; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  align-items: center; 
  width:100%;
  height:auto;
} 

.slide1 { 
  background-image: url("../img/002.jpg");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;
}

.slide2 { 
  background-image: url("../img/003.jpg");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;
}

.slide3 { 
  background-image: url("../img/004.jpg");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;
}

.slide4 { 
  background-image: url("../img/005.jpg");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;
}

.slide5 { 
  background-image: url("../img/006.jpg");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;
}

.slide6 { 
  background-image: url("../img/007.jpg");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;
  position:relative;
}

.swiper-slide a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  width: 20px;
  height: 32.58px;
  fill: #666;
  stroke: none;
  stroke-width: 0;
  background-image: none;
  z-index: 10000;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

@media (min-width: 768px) {
  .swiper-slide {
  padding: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
  display: block;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  }
}
.swiper-pagination-bullet-active {
  background: #666;
}

/* ghostbutton */
.btn-ghost
 {
  background: transparent;
  color: #337ab7;
  box-shadow: none;
}

.btn-ghost
.btn-primary:hover,
.btn-ghost.btn-success:hover,
.btn-ghost.btn-info:hover,
.btn-ghost.btn-warning:hover,
.btn-ghost.btn-danger:hover {
  color: #fff;
  box-shadow: none;
}

/* loadGIF */
#loader-bg {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#loader-bg img {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loader {
  width: 5em;
  height: 5em;
}

